body {
    background-color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace; color:gray;
    margin: 0px;
}
a {
    color: rgba(255, 0, 255, 0.603);
}

#user_logout {
    text-align: right;
    border: solid 1px gray;
    margin-bottom: 3%;
    background-color: rgb(78, 78, 78);
}

#user_logout h3{
    color: black;
}

#user_logout a {
    margin-right: 20px;
}

#categories {
    color: black;
}

p {
    color: gray;
}

h1 {
    font-family: 'Courier New', Courier, monospace; color:gray;
    color: gray;
}

.cat_item {
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

#search_and_new_button {
    margin-left: 8%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    text-align: center;
}

#new_note_button {
    background-color:
    rgb(85, 85, 85);
    border: 1px solid gray;
}

#new_note_button a {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    text-decoration: none;
    font-weight: bold;
}

#search_note input {
    background-color:
    rgb(85, 85, 85);
    border: 1px solid gray;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    text-decoration: none;
    font-weight: bold;
}

#form_div {
    margin: 40%;
    margin-top: 10%;
    width: 20%;
}

#form_div input {
     float: right;
     margin-left: 4%;
     border: solid 1px gray;
     margin-bottom: 1%;
     background-color: rgb(78, 78, 78);
     font-size: 14pt;
}
