<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{category}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Note/style.css' %}">
</head>
<body>
    <div id="user_logout">
            <h3>Welcome {{user.username}} / <a href="{% url 'Note:logout' %}">Log out</a></h3>
    </div>
    <table style="margin: auto; border: 1px solid gray; width: 25%;">
        <thead style="margin: auto; font-family: 'Courier New', Courier, monospace; border: 1px solid gray;">
            <tr style="font-size: 20pt; background-color: rgb(88, 88, 88); color: black;">
                <td style="text-align: center;">Notes</td>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr>
                <td style="height: 30px;">
                    <a href="{% url 'Note:details' note.id%}" style="margin-left: 20px;">{{note}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin: auto; text-align: center; font-size: 15pt;">
         <a href="{% url 'Note:index' %}" style="text-decoration: none;"> ⮪ Back</a>
    </div>

</body>
</html>