<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ note.title }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Note/style.css' %}">
</head>
<body>
    <div id="user_logout">
            <h3>Welcome {{user.username}} / <a href="{% url 'Note:logout' %}">Log out</a></h3>
    </div>

    <div style="margin: 10%; margin-top: 1%;">
        <div >
            <h1>{{ note.title }}<a href="{% url 'Note:edit_page' note.id %}" style="float: right;">Edit</a></h1>

        </div>
        <br>
        <h4>{{ note.modification_date }}</h4>
        <h5><a href="{% url 'Note:category' note.category %}">{{ note.category }}</a></h5>
        <p>{{ note.text }}</p>
        <br>
        {% for file in files %}
            <a href="/note/open{{ file.file.url }}" target="_blank" style="margin-left: 10px; font-size:10pt;"> {{ file }} </a> <br>
        {% endfor %}
        <br><br>
        <a href="{% url 'Note:index' %}" style="text-decoration: none;">⮪ Back</a>
    </div>
</body>
</html>