<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Note/style.css' %}">
</head>
<body>
    <form action="login_validate" method="post">
        {%csrf_token%}
        <label>Username</label>
        <input name="username" type="text">
        <br><br>
        <label>Password</label>
        <input name="password" type="password">
        <br><br>
        <input type="submit">
        {% if message %}
        <h1> {{ message }}</h1>
        {% endif %}
    </form>
</body>
</html>