<!DOCTYPE html>
<html lang="en">
    <head >
        <meta charset="utf-8">
        <title>Notes {{ user.username }}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'Note/style.css' %}">
    </head>
    <body style="margin: 0px;">
        <div id="user_logout" style="border: solid 1px gray; margin-bottom: 3%; background-color: rgb(78, 78, 78);">
            <h3 style="color: black;">
                Welcome {{user.username}} /
                <a href="{% url 'Note:logout' %}" style="margin-right:20px">
                    Log out
                </a>
            </h3>
        </div>
        <div style="margin-left: 20%; width: 60%; font-size: 18pt;">
            {% if note %}
                <form action="{% url 'Note:edit_note' %}" method="post" id="post_form" enctype="multipart/form-data">
                {% csrf_token %}
                <label> Title: </label>
                <input name="id" value="{{ note.id}}" style="visibility: hidden; width:0;" >
                <input name="title" type="text" required="True" style="margin-left: 2%;
                                                                       border: solid 1px gray;
                                                                       margin-bottom: 1%;
                                                                       background-color: rgb(78, 78, 78);
                                                                       font-size: 18pt;" value="{{ note.title }}">
                <input type="submit" value="Post" style="float: right;
                                                        background-color:
                                                        rgb(85, 85, 85);
                                                        border: 1px solid gray;
                                                        color: black;
                                                        font-family: 'Courier New', Courier, monospace;
                                                        font-size: 15pt;
                                                        text-decoration: none;
                                                        font-weight: bold;
                                                        font-size: 25pt;">
                <br>
                <label> Category: </label>

                <input name="category" type="text" required="True" style="margin-left: 2px;
                                                                          border: solid 1px gray;
                                                                          margin-bottom: 3%;
                                                                          background-color: rgb(78, 78, 78);
                                                                          font-size: 18pt;" value="{{ note.category }}">
                <br>
                <input type="file"  name="myfile" multiple>
                <br><br>
            </form>
            <textarea form="post_form" rows="20" cols="100" name="text" style="width: 100%;
                                                          border: solid 1px gray;
                                                          margin-bottom: 3%;
                                                          background-color: rgb(78, 78, 78);
                                                          font-size: 18pt">{{ note.text }}
            </textarea>
            {% else %}
            <form action="{% url 'Note:post_note' %}" method="post" id="post_form" enctype="multipart/form-data">
                {% csrf_token %}
                <label> Title: </label>
                <input name="title" type="text" required="True" style="margin-left: 4%;
                                                                       border: solid 1px gray;
                                                                       margin-bottom: 1%;
                                                                       background-color: rgb(78, 78, 78);
                                                                       font-size: 18pt;">
                <input type="submit" value="Post" style="float: right;
                                                        background-color:
                                                        rgb(85, 85, 85);
                                                        border: 1px solid gray;
                                                        color: black;
                                                        font-family: 'Courier New', Courier, monospace;
                                                        font-size: 15pt;
                                                        text-decoration: none;
                                                        font-weight: bold;
                                                        font-size: 25pt;">

                <br><br>
                <label> Category: </label>
                <input name="category" type="text" required="True" style="margin-left: 2px;
                                                                          border: solid 1px gray;
                                                                          margin-bottom: 3%;
                                                                          background-color: rgb(78, 78, 78);
                                                                          font-size: 18pt;">
                <br>
                <input type="file" name="myfile"  multiple>
                <br><br>
            </form>
            <textarea form="post_form" rows="20" cols="100" name="text" style="width: 100%;
                                                          border: solid 1px gray;
                                                          margin-bottom: 3%;
                                                          background-color: rgb(78, 78, 78);
                                                          font-size: 18pt">Enter note here...
            </textarea>
            {% endif %}
            <div style="margin: auto; text-align: center; font-size: 15pt;">
                <a href="{% url 'Note:index' %}" style="text-decoration: none;"> ⮪ Home</a>
            </div>
        </div>
    </body>
</html>
